<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title><% preact.title %></title>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <meta content="yes" name="mobile-web-app-capable"/>
  <meta content="yes" name="apple-mobile-web-app-capable"/>
  <meta
    content="<%= (htmlWebpackPlugin.options.seo && htmlWebpackPlugin.options.seo.title) || htmlWebpackPlugin.options.title %>"
    property="og:title"
  />
  <% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
  <meta content="<%= htmlWebpackPlugin.options.seo.cover %>" property="og:image"/>
  <% } %> <% if(htmlWebpackPlugin.options.seo && 'subtitle' in htmlWebpackPlugin.options.seo) {%>
  <meta content="<%= htmlWebpackPlugin.options.seo.subtitle %>" property="og:description"/>
  <meta content="<%= htmlWebpackPlugin.options.seo.subtitle %>" property="description"/>
  <% } %>
  <meta
    content="<%= (htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) ? 'summary_large_image' : 'summary'%>"
    name="twitter:card"
  />
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <% if(htmlWebpackPlugin.options.seo && 'cover' in htmlWebpackPlugin.options.seo) {%>
  <meta content="<%= htmlWebpackPlugin.options.seo.cover %>" name="twitter:image"/>
  <% } %> <% if(htmlWebpackPlugin.options.seo && 'subtitle' in htmlWebpackPlugin.options.seo) {%>
  <meta content="<%= htmlWebpackPlugin.options.seo.subtitle %>" property="twitter:description"/>
  <% } %> <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>
</html>
